{% load static %}
{% include 'mentor/mentor_head.html' %}

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            {% include 'mentor/navbar.html' %}

            <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                    </div>
                </div>
            </div>
        </div>
        <div class="container table-responsive py-5">
            <form action="dairy_reply-{{data.id}}" style="display: flex; flex-direction: column;" method="post">
                <label for="msg">Dairy Writing</label>
                <div type="text" name="msg" style='width: 250px; height: 150px; vertical-align: top; border: 1px solid;'>{{data.dairy}}</div>
                <label for="author">Written By</label>
                <input type="text" style='width: 250px; vertical-align: top;' name="author" id="author" value="{{data.user.name}}" readonly>
                {% csrf_token %}
                <label for="reply"> Reply </label>
                <textarea type="text" name="reply_msg" id="reply" style="width: 800px; height: 300px;"></textarea>
                <button class="sentBtn" type="submit"  style="width: 150px !important; background-color: aqua; position: relative;
                left: 70%; top:10px">Send</button>
            </form>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>
    </div>
</body>

</html>